@import "~bootstrap/scss/bootstrap.scss";
body{
    background-color: rgb(54, 221, 243);
    background-image: ""
    }
.jumbotron{
background-color: rgb(54, 221, 243);
}
//.container{
   // background-color: #f3f7ef;
   // min-height: 40px;
//}

//.card {
 // background-color: #c5e9d7;
//}
.jumbotron2 {
    border: solid 1px;
}

.App input{
  
    border: 0;
    width: 230px;
    height: 30px;
    padding: 0 20px;
    font-size: 18px;
    border-radius: 20px;
    color: #ee5050;
}
.App input:focus{
    outline: none;
}

.row {
    margin-left: 100px;
}